{% extends "catalog/base.html" %}

{% block content %}

<div class="container">

    <h1>Продукты категории</h1>

    {% for product in products %}

        <div class="card mb-3">
            <div class="card-body">

                <h5>{{ product.name }}</h5>

                <p>
                    {{ product.description }}
                </p>

                <p>
                    Цена: {{ product.price }}
                </p>

            </div>
        </div>

    {% empty %}

        <p>
            Продукты отсутствуют
        </p>

    {% endfor %}

</div>

{% endblock %}
